{% extends 'base.html' %}
{% block content %}

<div class="container-box">
<h2>Tambah Transaksi</h2>
<form id="form-tambah">
  <label>Keterangan:</label>
  <input type="text" name="keterangan" required>

  <label>Jumlah:</label>
  <input type="number" name="jumlah" required>

  <label>Tipe:</label>
  <select name="tipe" required>
    <option value="pemasukan">Pemasukan</option>
    <option value="pengeluaran">Pengeluaran</option>
  </select>

  <button type="submit">Tambah</button>
</form>

<h3 id="saldo">Saldo: Rp 0</h3>
</div>

<div class="content1">
    <table border="1">
      <thead>
        <tr>
          <th>Tanggal</th>
          <th>Keterangan</th>
          <th>Jumlah</th>
          <th>Tipe</th>
        </tr>
      </thead>
      <tbody id="tabel-data"></tbody>
    </table>
</div>
  

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
   